*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Lato,Helvetica Neue,Arial,Helvetica,sans-serif;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.auto{
     width: 100%;
    max-width: 1100px;
    margin: auto;
}
.main-navdetails{
    width: 19%;
}
.navdetails{
    width: 25%;
}
.button{
    width: 140px;
    background-color: rgb(24, 198, 131);
    height: 35px;
    border-radius: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
#button:hover{
    transform: translateY(-2px);
}
@media screen and (max-width:768px) {
    .header-container ,.main-navdetails , .navdetails ,.rank ,.marketcap , .Vwap , .supply , .volume ,.thead-details{
        display: none;
    }
    #table{
        position: relative;
        top: 2px;
    }
   .hamburger.active .bar:nth-child(2){
    opacity: 0;
   }
   .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
   }
   .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
   }
   .asidebar{
    position: fixed;
    left: -100%;
    top: 0;
    gap: 0;
    border-right: 1px solid rgba(204, 204, 204, 0.8);
    background-color: white;
    width: 200px;
    height: 100%;
    text-align: center;
    transition: 0.6s;
    z-index: 1;
   }
   .asidebar.active{
    left: 0;
   }
   .asidebar-container{
    flex-direction: column;
    justify-content: space-around;
    height: 450px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.8);
   }
  .coincap-logo{
    margin: auto;
  }
  .search{
    padding-left: 25px;
  }
  .logo-with-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 16%;
    font-size: 0.9em;
}
.column-button{
    color: black;
}
.selected{
    background-color: #ededf5;
}
.hover-API:hover{
    background-color: #ededf5;
}
.button{
    margin-bottom: 20px;
}
#footer{
   flex-wrap: wrap;
   justify-content: space-evenly;
   height: 550px;
}
#block{
    display: block;
}
#same-width{
    width: 37%;
    height: 240px;
}
#price-container{
    width: 40%;
    justify-content: space-around;
    text-align: right;
}
#header-price-container{
    width: 40%;
    justify-content: space-around;
}
#advertise{
    width: 100%;
}
#dexmobile , #app{
    font-size: 0.75em;
}
#dexmobile{
    width: 32%;
    text-align: center;
}
#app{
    width: 25%;
}
#button-content{
    margin-bottom: 10px;
}
}
.header-container{
    background-image: linear-gradient(to right, rgb(63, 81, 181), rgb(100, 181, 246));
    height: 200px;
}
.header-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-top: 20px;
}
.column{
    display: flex;
    flex-direction: column;
}
.same-fontsize{
    line-height: 1.4em;
}
.footer{
    background-image: linear-gradient(to right, rgb(63, 81, 181), rgb(100, 181, 246));
}
.footer-container {
    height: 280px;
    padding-top: 40px;
   display: flex;
   justify-content: space-between;
}
.footer-container h4 {
    color: #ffffff;
    font-weight: 700;
    font-size: 0.9em;
    padding-bottom: 12px;
}
.footer-container a , p{
    font-size: 0.9em;
    color: rgba(204, 204, 204, 0.7);
    font-weight: 500;
}
.footer-container a:hover{
    color: #ffffff;
}
.about_legals_disclaimer{
    width: 300px;
    justify-content: space-between;
    height: 200px;
}
.fb-twit-container{
    width: 75% ;
}
.border{
     border-bottom: 1px solid rgba(204, 204, 204, 0.13);
}
  .hamburger{
    display: block;
    cursor: pointer;
    padding-right: 20px;
  }
  .bar{
    display: block;
    width: 18px;
    height: 3px;
    margin: 5px auto;
    background-color: black;
  }
  .accordion{
    max-width: 100%;
    background-image: linear-gradient(to right, rgb(63, 81, 181), rgb(100, 181, 246));
}
.accordion__label , .accordion__content{
    padding: 14px 20px ;
}
.accordion__label{
    display: block;
    color: #ffffff;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.accordion__label::after{
    content: "\25be";
    position: absolute;
    top: 30%;
    right: 20px;
    width: 12px;
    height: 6px;
}
.accordion__content{
    background-image: linear-gradient(to right, rgb(63, 81, 181), rgb(100, 181, 246));
    color: #ffffff;
    line-height: 3;
    font-size: 0.85em;
    display: none;
}
.accordion__input{
    display: none;
}
.accordion__input:checked ~ .accordion__content{
    display: block;
}
.hoverbutton{
    border: none;
    width: 27%;
    height: 50px;
    background-color: #ffffff;
}
.hoverbutton:nth-child(2){
    width: 45%;
}
.hoverbutton:hover{
    background-color: rgb(0, 0, 0, 0.04);
}
.none{
    display: none;
}
.main-container{
    background-color: white;
    border: 1px solid inherit;
    box-shadow: 4px 4px 16px 1px rgba(0, 0, 0, 0.1); 
    cursor: pointer;
}
.table-container:hover{
    background-color: #ececf8cc;
}
.rank-container{
    display: flex;
    align-items: center;
    width: 30%;
    height: 60px;
    border-bottom:1px solid #d4d4d5;
    padding-left: 50px;
    font-size: 0.9em;
}
.name-container{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.rank , .marketcap{
    width: 20%;  
}
.price-container{
    width: 75%;
    height: 60px;
    text-align: end;
    border-bottom:1px solid #d4d4d5;
    padding-right: 10px;
    font-size: 0.9em;
}
.price , .Vwap , .perhour{
    width: 10%;
}
.supply{
    width: 20%;
}
.volume{
    width: 15%;
}
.header-rank-container{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    width: 30%;
    height: 45px;
    text-align: right;
    font-size: 0.9em;
    border-bottom:1px solid #d4d4d5;
    color: rgb(92, 104, 109);
    cursor: pointer;
}
.rank-head{
    width: 22%;
}
.name-head{
    width: 21%;
}
.header-price-container{
    display: flex;
    align-items: center;
    width: 70%;
    text-align: right;
    font-size: 0.9em;
    border-bottom:1px solid #d4d4d5;
    color:  rgb(92, 104, 109);
    cursor: pointer;
}
.table{
    position: relative;
    bottom: 120px;
}
.header-price-container{
    height: 45px;
    background-color: #ffffff;
}
.price-head{
width: 8%;
}
.marketcap-head , .Vwap-head{
   width: 23%;
}
.supply-head , .perhour-head{
width: 13%;
}
.volume-head{
    width: 18.5%;
}
.thead-hover:hover{
    color: black;
}
.symbol{
    color:  rgb(92, 104, 109);
    font-size: 0.7em;
}
.advertisement{
    background-color: rgb(24, 198, 131);
    height: 65px;
}
.advertise{
    width: 60%;
    color: rgb(255, 255, 255);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}
.close-button{
    background-color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: relative;
    bottom: 45px;
    right: 15px;
    float: right;
    cursor: pointer;
}
#close:hover{
    transform: scale(1.2);
}
.advertisement.active{
    display: none;
   }
   .download-app{
    text-align: center;
    width: 35% ;
    height: 60%;
   background: rgba(82,75,213,1);
   display: flex;
   align-items: center;
   border-radius: 6px;
   margin-right: 80px;
   }
   .download-app:hover{
    background-color: rgb(57, 57, 201);
   }
   .button-content{
    margin: auto;
   }
   .dex-mobile{
    font-size: 1.1em;
   }
   .x-image{
    position: absolute;
    left: 3.2px;
    top: 3.5px;
   }
   #underline-link:hover{
    text-decoration: underline;
   }
   #underline-link{
    color: black;
   }
  